.mySlider{
    padding: 50px;
    width: 600px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    
    }

   .mySlider img {
     width: 80%;
     align-items: center;
   }
  
   
    .swiper {
      padding: 20px;
      width: 80%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    

    .container {
      display: block;
      padding: 5px;
      width: 50%;
      
  }
    
  .inputs{
      height: 30px;
      width: 30px;
    
    }
    /*При наведении курсора, делаем цвет фона немного темнее.*/
    .container:hover {
      background-color: #8978cc;
  }

  .container input:checked  {
    background-color: #636d74;
}
 .input:checked {
 color: aqua;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  
}
 
