.mySlider{
    padding: 50px;
    width: 600px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    
    }

   .mySlider img {
     width: 80%;
     align-items: center;
   }
  
   
    .swiper {
      padding: 20px;
      width: 80%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    