.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems .dialog {
    padding: 10px;

}

.dialogsItems .active {
    color: rgb(220, 188, 24);
}

.messages {
   

}

.messages .message {
    padding: 10px;
    
}